{{input class="spec-edit-title" value=model.title}}
{{input class="spec-edit-title" value=model.date}}
{{input class="spec-edit-title" value=model.notes}}

{{#link-to "reminders.reminder" model.id}}
  <button class="spec-save-button" {{action "save"}}>save</button>
{{/link-to}}
<button class="spec-reset-button" {{action "reset"}}>reset</button>
<p class="spec-unsaved-text" hidden>You have unsaved changes</p>
