<h2 class='spec-edit-title' contenteditable="true" onkeyup={{action "update" 'title' 0}}>{{model.title}}</h2>
<li class='spec-edit-date' contenteditable="true" onkeyup={{action "update" 'date' 1}}>{{model.date}}</li>
<li class='spec-edit-notes' contenteditable="true" onkeyup={{action "update" 'notes' 2}}>{{model.notes}}</li>
{{#link-to "reminders.reminder" model.id}}
  <button class="spec-save-button" {{action "save"}}>save</button>
{{/link-to}}
