{{outlet}}
<h2 class='spec-reminder-title'>{{model.title}}</h2>
<li class='spec-reminder-date'>{{model.date}}</li>
<li class='spec-reminder-notes'>{{model.notes}}</li>
<!-- {{log "test"}}
{{log model}} -->
<!-- <p>model id {{model.id}}</p> -->
{{#link-to "reminders.reminder.edit" model}}
  <button>edit</button>
{{/link-to}}
